@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.burger-menu {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: $size-3;
  background-color: $color-on-primary;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  gap: $size-4;

  &-open {
    transform: translateX(0);
  }

  &__header {
    @include flex-between;
  }

  &__close {
    @include flex-center;
    width: $size-4;
    height: $size-4;
    border-radius: $corner-small;
    background-color: $color-bg-footer-low;
    color: $color-white;
    font-size: 20px;
    line-height: 1;
  }

  &__nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__link {
    color: $color-on-bg-footer;
    font-size: 24px;
    font-weight: $font-weight-regular;

    &-active {
      color: $color-primary;
      font-weight: $font-weight-bold;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 22px;

    margin-top: auto;
  }

  &__login,
  &__signup {
    width: 100%;
    min-height: 46px;

    border-radius: $corner-small;

    font-size: $font-size-body-medium;
    font-weight: $font-weight-bold;
  }

  &__login {
    border: 2px solid $color-white;
    background-color: transparent;
    color: $color-white;
  }

  &__signup {
    border: 0;
    background-color: $color-primary;
    color: $color-on-primary;
  }
}

.menu-open {
  overflow: hidden;
}

@media (min-width: 769px) {
  .burger-menu {
    display: none;
  }
}
