@use '../../../styles/tokens' as *;
@use '../../../styles/mixins' as *;

.game-dialog {
  width: 600px;
  max-width: 100%;
  height: 90vh;
  max-height: 90vh;
  padding: 0;
  border: 1px solid $color-outline-variant;
  box-shadow: $shadow-level-3;
  background: $color-bg;
  border-radius: $corner-extra-large;
  margin: auto;
  overflow: hidden;

  &__content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::backdrop {
    background: rgba(30, 27, 58, 0.7);
  }

  &__hero {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  &__close {
    position: absolute;
    top: $size-2;
    right: $size-2;
    border: 2px solid $color-on-primary;
    border-radius: $corner-full;
    width: $size-5;
    height: $size-5;
    box-shadow: 2px 2px 0 0 $color-black;
    background: $color-white;
    @include flex-center;
  }

  &__info {
    padding: $size-3;
    display: flex;
    flex-direction: column;
    gap: $size-3;
  }

  &__header {
    @include flex-between;
  }

  &__stats {
    display: flex;
    gap: $size-2;
    align-items: center;
  }

  &__descr {
    font-size: $size-2;
    line-height: 1.25;
  }

  &__specs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: $size-2;
  }

  &__spec {
    border: 1px solid $color-outline-variant;
    border-radius: $corner-small;
    padding: $size-1 $size-2;
    box-shadow: 3px 3px 0 0 $color-on-primary;
    background: $color-white;

    &-value {
      margin-top: $size-1;
      font-size: $font-size-label-large;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $size-2;
  }

  &__btn {
    font-size: $font-size-label-extra-large;
    box-shadow: $shadow-level-1;
    padding: 12.5px 0;

    &-favourite {
      display: flex;
      align-items: center;
      gap: $size-1;
      svg path {
        fill: $color-on-primary;
      }
    }
  }

  &__records {
    &-header,
    &-list {
      display: flex;
      gap: $size-1;
    }

    &-header {
      margin-bottom: $size-2;
      align-items: center;
    }

    &-list {
      flex-direction: column;
    }

    &-emoji {
      font-size: $font-size-body-large;
    }

    &-title {
      font-size: $font-size-body-medium;
    }
  }

  &__record {
    @include flex-between;
    border-radius: $size-1;
    padding: $size-2;
    background-color: $color-white;

    &-left,
    &-right {
      display: flex;
      align-items: center;
      gap: $size-2;
    }

    &-position {
      font-size: $font-size-label-extra-large;
    }

    &-player,
    &-score {
      font-size: $font-size-label-large;
      font-weight: $font-weight-bold;
      color: $color-on-primary;
    }

    &-date {
      font-size: $font-size-label-medium;
      color: $color-on-bg;
    }
  }

  &__comments {
    display: flex;
    flex-direction: column;
    gap: $size-2;
    &-title {
      font-size: $font-size-body-medium;
    }

    &-form {
      display: flex;
      align-items: center;
      gap: $size-2;
    }

    &-avatar {
      background-color: $color-primary;
    }

    &-send {
      @include flex-center;
      border: 1.5px solid $color-on-primary;
      border-radius: $size-1;
      width: $size-5;
      height: $size-5;
      background: $color-bg-footer-low;
    }

    &-textarea {
      width: 100%;
      min-height: 40px;
      max-height: 88px;
      resize: none;
      overflow-y: auto;
      padding: $size-1 $size-2;
      border: 2px solid $color-on-primary;
      border-radius: $corner-medium;

      &::placeholder {
        font-size: $font-size-body-small;
        color: $color-text-placeholder;
      }
    }
  }
}
