@use '../../styles/tokens' as *;

.hero {
  position: relative;
  width: 100%;
  min-height: 627px;
  background: url(../../assets/images/games/hero-bg.jpg) no-repeat center / cover;
  padding: 112px 0;

  &-main {
    max-width: 640px;
    border: 3px solid $color-on-primary;
    border-radius: 24px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: $shadow-level-3;
    background: $color-bg;
  }

  &-title {
    font-size: 56px;
    line-height: 1.1;
  }

  &-text {
    font-weight: $font-weight-medium;
  }

  &-btn {
    padding: $btn-large-padding;
    align-self: flex-start;
    font-size: 18px;
  }
}
