@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.logo {
  display: flex;
  align-items: center;
  gap: $size-1;

  &-title {
    font-weight: $font-weight-bold;
    font-size: $size-3;

    @include tablet {
      font-size: $size-large;
    }
  }
}
