@use '../../styles/tokens' as *;

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: $color-secondary;
  border-radius: $corner-medium;

  &::after {
    position: absolute;
    inset: 0;
    content: '';
    background: linear-gradient(90deg, transparent, rgb(255 255 255 / 40%), transparent);
    transform: translateX(-100%);
    animation: skeleton-loading 1.5s infinite;
  }
}

@keyframes skeleton-loading {
  100% {
    transform: translateX(100%);
  }
}
