@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;
@use './game-card/game-card.scss';

.games {
  &-header {
    @include flex-between;
    margin-bottom: 40px;
  }

  &-arrows {
    display: flex;
    gap: $size-2;
  }

  &-arrow {
    width: $size-6;
    height: $size-6;
    padding: 0;
    border-radius: $corner-full;
  }

  &-slider {
    &__viewport {
      width: 100%;
      overflow: hidden;
    }

    &__track {
      display: flex;
      gap: $size-1;
      align-items: stretch;
    }
  }
}
