@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;
@use './game-card/game-card.scss';

.games {
  &-header {
    @include flex-between;
    margin-bottom: $size-5;

    @include tablet {
      margin-bottom: $size-3;
    }

    @include mobile {
      margin-bottom: $size-2;
    }
  }

  &-arrows {
    display: flex;
    gap: $size-2;

    @include mobile {
      display: none;
    }
  }

  &-arrow {
    width: $size-6;
    height: $size-6;
    padding: 0;
    border-radius: $corner-full;

    @include tablet {
      width: $size-5;
      height: $size-5;
      padding: 9px 11px;
    }
  }

  &-slider {
    &__viewport {
      width: 100%;
      overflow: hidden;
      padding-bottom: $size-05;
    }

    &__track {
      display: flex;
      gap: $size-1;
      align-items: stretch;
      transform: translate(-44.8%, 0);

      @include tablet {
        transform: translate(-48.6%, 0);
      }

      @include tablet {
        transform: translate(-56.5%, 0);
      }
    }
  }
}
