@use '../../styles/mixins' as *;
@use '../../styles/tokens' as *;

.header {
  padding: $size-3 0;
  border-bottom: 2px solid $color-on-primary;
  @include tablet {
    padding: 19.5px 0;
  }
  &-container {
    max-width: 1760px;
  }

  &-wrapper {
    @include flex-between;
  }

  &-main {
    display: flex;
    gap: $size-4;
    align-items: center;
  }

  &-btns {
    display: flex;
    gap: $size-2;
  }

  &-btn {
    @include tablet {
      padding: 6px 14px;
    }
    &__login {
      @include tablet {
        display: none;
      }
    }
  }

  &-burger {
    display: none;
    @include tablet {
      @include flex-center;
      flex-direction: column;
      gap: 2px;
      width: 32px;
      height: 32px;
      border: 2px solid $color-on-primary;
      border-radius: $size-1;
      padding: 0 6px;
      background-color: $color-white;

      &:hover {
        background-color: $color-surface;
      }
    }

    &__line {
      width: 100%;
      height: 2px;
      background-color: $color-on-primary;
    }
  }
}

.nav {
  @include tablet {
    display: none;
  }
  &-menu {
    display: flex;
    gap: 40px;
    align-items: center;

    &__link {
      color: $color-on-bg;
      font-size: $size-2;
      font-weight: $font-weight-medium;
      &.active {
        color: $color-on-primary;
        font-weight: $font-weight-bold;
      }
    }
  }
}
