@use '../../../styles/mixins' as *;
@use '../../../styles/tokens' as *;

$border-input-invalid: 2px solid $color-error;

.auth-dialog-root {
  position: relative;
}

.auth-dialog-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(30 27 58 / 70%);

  opacity: 0;
  visibility: hidden;

  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;

  &--open {
    opacity: 1;
    visibility: visible;

    .auth-dialog {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.auth-dialog {
  position: relative;

  width: 420px;
  max-width: calc(100% - 32px);

  padding: $size-2;

  background-color: $color-bg;

  border: $border-level-3;
  border-radius: $corner-large;

  box-shadow: $shadow-level-3;

  opacity: 0;
  transform: translateY(-20px);

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;

  &__switcher {
    display: flex;
    border: $border-level-4;
    margin-bottom: $size-3;
    border-radius: $corner-medium;
    background-color: $color-white;

    button {
      flex: 1;
      padding: $btn-large-padding;
      border-radius: $size-1;
      border: 0;

      cursor: pointer;

      &.active {
        background-color: $color-bg-footer-low;
        color: $color-white;
        font-size: $font-size-label-extra-large;
      }
    }
  }

  &__content {
    transition: opacity 0.15s ease;

    &--switching {
      opacity: 0;
    }

    p {
      font-size: $font-size-body-small;
      margin-bottom: $size-2;
    }
  }

  &__title {
    font-size: $font-size-headline-medium;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: $size-1;

  &__field {
    display: flex;
    flex-direction: column;
    gap: $size-1;
    margin-bottom: $size-1;

    label {
      font-size: $font-size-label-large;
      color: $color-on-primary;
      font-weight: $font-weight-bold;
    }
  }

  &__input {
    border: $border-level-3;
    border-radius: $corner-small;
    padding: $size-2 $size-2 $size-2 52px;
    font-size: $font-size-label-large;
    background-repeat: no-repeat;
    background-position: $size-2 center;
    &--invalid {
      border: $border-input-invalid;
    }
  }

  &__error {
    color: $color-error;
  }

  &__email {
    background-image: url('../../../assets/icons/mail.svg');
  }

  &__password {
    position: relative;
    display: flex;
    align-items: center;

    input {
      width: 100%;
      padding-right: 60px;
      background-image: url(../../../assets/icons/lock.svg);
    }
  }

  &__password-toggle {
    position: absolute;
    right: $size-2;

    background: transparent;
    border: 0;

    cursor: pointer;
  }

  &__forgot {
    align-self: flex-end;
  }

  &__underline {
    font-size: $font-size-label-large;
    text-decoration: underline;
    color: $color-on-primary;
    font-weight: $font-weight-bold;
  }

  &__submit-btn {
    margin-top: $size-2;
    box-shadow: $shadow-bottom;
    border: $border-level-4;
  }

  &__divider {
    display: flex;
    align-items: center;
    gap: $size-2;
    font-weight: $font-weight-bold;
    font-size: $font-size-label-medium;
    color: $color-on-bg;
    margin: $size-1 0;

    &::before,
    &::after {
      content: '';

      flex: 1;

      height: 1px;

      background-color: $color-on-primary;
    }
  }

  &__google {
    width: 100%;
    background-color: $color-white;
    display: flex;
    gap: $size-2;
    align-items: center;
    margin-bottom: $size-2;
  }

  &__btn {
    padding: $btn-large-padding;
    border-radius: $corner-medium;
    font-size: $font-size-body-medium;
  }

  &__switcher {
    text-align: center;
  }

  &__username {
    background-image: url(../../../assets/icons/person.svg);
  }
}

@media (max-width: 480px) {
  .auth-dialog-backdrop {
    padding: $size-2;
  }

  .auth-dialog {
    width: 100%;
    max-width: none;

    padding: $size-large;
  }
}

@media (max-width: 375px) {
  .auth-dialog {
    padding: $size-2;
  }
}
