@use '../../../styles/tokens' as *;

.category-skeleton {
  display: flex;
  gap: $size-2;
  overflow: hidden;

  &__item {
    width: 90px;
    height: 40px;
    flex-shrink: 0;
    border-radius: $corner-extra-large;
  }
}
